.notice+.surbma-admin {
	margin-top: 10px;
}

.surbma-admin pre {
	white-space: pre-wrap;
}

.surbma-admin #surbma-header {
	background: linear-gradient(to left, #28a5f5, #1e87f0) !important;
	margin: 0 0 0 -20px;
}

.surbma-admin .uk-navbar-container .uk-navbar-item {
	color: #fff;
}

.surbma-admin .uk-navbar-container .uk-navbar-nav>li>a {
	color: rgba(255, 255, 255, 0.8);
}

.surbma-admin input[type=text].uk-input,
.surbma-admin input[type=search].uk-input,
.surbma-admin input[type=radio].uk-radio,
.surbma-admin input[type=tel].uk-input,
.surbma-admin input[type=time].uk-input,
.surbma-admin input[type=url].uk-input,
.surbma-admin input[type=week].uk-input,
.surbma-admin input[type=password].uk-input,
.surbma-admin input[type=checkbox].uk-checkbox,
.surbma-admin input[type=color].uk-input,
.surbma-admin input[type=date].uk-input,
.surbma-admin input[type=datetime].uk-input,
.surbma-admin input[type=datetime-local].uk-input,
.surbma-admin input[type=email].uk-input,
.surbma-admin input[type=month].uk-input,
.surbma-admin input[type=number].uk-input,
.surbma-admin select.uk-select,
.surbma-admin textarea.uk-textarea {
	color: #666;
	border: 1px solid #e5e5e5;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	-webkit-transition-property: color, background-color, border;
	transition-property: color, background-color, border;
	box-shadow: none;
}

.surbma-admin .uk-input:focus,
.surbma-admin .uk-select:focus,
.surbma-admin .uk-textarea:focus {
	border-color: #1e87f0 !important;
}

.surbma-admin input[type=number].uk-input {
	height: 40px;
}

.surbma-admin .uk-select {
	padding: 0 10px;
}

.surbma-admin .switch-wrap {
	overflow: hidden;
	line-height: 26px;
}

/* The switch - the box around the slider */

.surbma-admin .switch {
	position: relative;
	display: inline-block;
	width: 52px;
	height: 26px;
	float: right;
}

/* Hide default HTML checkbox */

.surbma-admin .switch input {
	display: none;
}

/* The slider */

.surbma-admin .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.surbma-admin .slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

.surbma-admin input:checked+.slider {
	background-color: #1e87f0;
}

.surbma-admin input:focus+.slider {
	box-shadow: 0 0 1px #1e87f0;
}

.surbma-admin input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */

.surbma-admin .slider.round {
	border-radius: 26px;
}

.surbma-admin .slider.round:before {
	border-radius: 50%;
}

#wpbody-content {
	padding-bottom: 0;
}

#wpfooter {
	display: none;
}
